.intro {
  min-height: 100vh;
  letter-spacing: 1vw;
}
.intro .row-main {
  display: flex;
  min-height: 100vh;
  text-align: center;
}
.intro .first-line, .intro .second-line {
  font-size: 56px;
  line-height: 4vh;
  font-family: 'BebasNeue Thin';
}
.intro .main p {
    position: relative;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    overflow: hidden;
    /* background: linear-gradient(90deg,#000, #fff, #000); */
    background: linear-gradient(90deg,#fff, #000, #fff);

    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-family: 'BebasNeue Regular';
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  /* @media (min-width: 768px) and (max-width: 1024px) {
   
  } */
  @media (max-width: 768px) {

    .intro .first-line, .intro .second-line {
      font-size: 5.2vw;
    }
    .intro .main p {
      font-size: 4vw;
    } 
  }