.skills-logos {
    width: 57.5px;
    height: 57px;
    margin: 10px;
}
.about-avatar-text {
    margin: 20px 0;
}

.mytooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.mytooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}
.mytooltip:hover .tooltiptext {
    visibility: visible;
}   