.cards-project-section {
  min-height: 100vh;
  letter-spacing: 0.2vw;
}
.cards-title {
  margin-bottom: 120px;
  z-index: 2; 
  font-family: 'BebasNeue Regular';
  font-size: 34px;
}
.text-center {
  text-align: center;
}

.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px white;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin-bottom: 10%;

}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.85;
  object-fit: cover;
  object-position: 100% 0;
  max-height: 100%;
}
.snip1529 .no-image {
  display:block;
  margin: 30% auto;
  width: 240px;
  height: 80px;
  opacity: 1;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1529 .date {
  background-color: #fff;
  color: #333;
  /* font-size: 18px; */
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  font-family: 'BebasNeue Regular';

}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 11px;
}

.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}
.snip1529 h3 {
  font-family: 'BebasNeue Regular';
}
.snip1529 p {
  font-family: 'BebasNeue Thin';
}


.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  font-size: 18px;
}

.snip1529:hover .date,
.snip1529.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* 
@media (min-width: 1281px) {
  .snip1529 img {
    height: 270px;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .snip1529 img {
    height: 270px;
  }
} */