.cards-project-section {
  min-height: 100vh;
  letter-spacing: 0.2vw;
}
.cards-title {
  margin-bottom: 120px;
  z-index: 2; 
  font-family: 'BebasNeue Regular';
  font-weight: 100;
  letter-spacing: 0.2vw;
  font-size: 40px;
}
.text-center {
  text-align: center;
}

.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px white;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin-bottom: 10%;
}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.85;
  object-fit: cover;
  object-position: 100% 0;

  height: 280px;
}
.snip1529 .no-image {
  object-fit: scale-down;
  position: absolute;
  opacity: 1;
  object-position: 50% 50%;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1529 .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 11px;
}

.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
}

/* .snip1529 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
} */

.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}

.snip1529:hover .date,
.snip1529.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
