
.aboutme-div{
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    font-family: 'BebasNeue Regular';
}

.aboutme-div .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

.aboutme-div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

.black-back {
    background-color: black;
}
.up-layout {
    z-index: 2;
}
.min-height-fill {
  min-height: 100vh;
}

/* @media screen and (min-width: 1600px) and (max-width: 1900px) {
  .aboutme-div .overlay-image {
    display: none;
  }
  .aboutme-div .overlay {
    display: none;
  }
} */
@media screen and (min-width: 1900px) {
  .aboutme-div .overlay-image {
    background-color: black;
    text-align: center;
  }
}